@font-face {
		font-family:"BL" ;
		src: url("../assets/fonts/aBlackLives.ttf");
	}

body {
	background-image: url("../assets/whiteHexagonBackground.jpg");
	font-family: "BL";
	margin: 0px;
}
a {
	text-decoration: none;
	color: black;
}
.gridHome {
	display: grid;
	grid-template-columns: repeat(4, 1fr); 
  	grid-template-rows: 10% 86% auto;  
  	grid-template-areas:  
    "nav nav nav nav"
    "section  section section section"
    "footer footer footer footer";
}
header {
	grid-area: nav;
	background-color: lightgrey;
	display: flex;
	border-bottom: 2px solid black;
	align-items: flex-end;
}
header .headerList {
	list-style: none;
	padding-top: 20px;
}
header .headerNav {
	display: flex;
	list-style: none;
	justify-content: space-around;
	padding-top: 65px;
	padding-left: 100px;
}
header .headerNavList {
	padding-right: 50px;
	font-size: 25px;
}
header .headerTitle {
	font-size: 30px;
}
header .headerSubTitle {
	font-size: 15px;
}

footer {
	grid-area: footer;
	display: grid;
	background-color: lightgrey;
	width: 100%;
	border-top: 2px solid black;
}
footer ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}
footer .footerAllListItem{
	display: flex;
	padding-right: auto;
	align-items: center;
	text-align: center;
}
footer .footerAllListItemLink{
	width: 150px;
	display: flex;
}
section {
	display: grid;
	grid-area: section;
}
article {
	display: flex;
	padding: 30px;
}
.articleVendorText {
	font-size: 40px;
	padding-left: 30px;
	text-align: end;
}
.articleVendor img {
	border: 2px solid black;
}
.articleBrandText {
	font-size: 40px;
	padding-right: 30px;
	text-align: left;
}